.trigger-button {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #1783db;
  border: none;
  border-radius: 2px;
  margin-left: 200px;
}
